.img-responsive {
    width: 100%;
}

.wrapper-img {
    width: 100%;
    border: 1px solid #ececec;
    height: 538px;
    overflow: hidden;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.text-header {
    font-family: Kanit;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.fade {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.wrapper-btn-item {
    width: 100%;
    height: auto;
    border: 1px solid #ececec;
    margin: 10px;
    overflow: hidden;
}

.active {
    border: solid 1.5px #000000;
}

.underline-product-detail {
    width: 100%;
    height: 1px;
    content: "";
    background: rgb(201, 201, 201);
}

.description {
    font-family: Kanit;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.description-subtitle {
    font-family: Kanit;
    font-size: 25px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

// Add To Cart
.BAHT {
    font-family: Kanit;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4268b3;
}

.btn-size {
    background: none;
    border: none;
    width: 55px;
    height: 55px;
    margin-left: 32px;
    border-radius: 5px;
    border: solid 1px #bcbcbc;
    background-color: #ffffff;
    outline: none;
    font-weight: bold;
}

.btn-subtack {
    width: 30px;
    height: 55px;
    font-weight: bold;
    border: solid 1px #bcbcbc;
    background-color: #ffffff;
    outline: none;
}

.btn-addtack {
    width: 30px;
    height: 55px;
    color: #fff;
    border: solid 1px #bcbcbc;
    background-color: #707070;
}

.input-amount {
    width: 100px;
    height: 55px;
    border: solid 1px #bcbcbc;
    background-color: #ffffff;
    padding-left: 5px;
    outline: none;
}

.input-amount::placeholder {
    font-size: 30px;
    font-family: Kanit;
    text-align: center;
    color: #707070;
}

.add-cart {
    width: 263px;
    height: 55px;
    border: solid 1px #707070;
    background-color: #000000;
    font-family: Kanit;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;
}

// Add To Cart

@media only screen and (max-width: 991.98px) {
    .text-header {
        font-family: Kanit;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
    }

    .wrapper-btn-item {
        width: 100%;
        height: auto;
        border: 1px solid #ececec;
        margin: 10px;
    }

    .wrapper-img {
        width: 100%;
        border: 1px solid #ececec;
        height: auto;
        overflow: hidden;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .description {
        font-size: 18px;
    }
    .description-subtitle{
        font-size: 15px;
    }

    // Add To Cart
    .BAHT {
        font-family: Kanit;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #4268b3;
    }

    .btn-size {
        background: none;
        border: none;
        width: 55px;
        height: auto;
        margin-left: 15px;
        border-radius: 5px;
        border: solid 1px #bcbcbc;
        background-color: #ffffff;
    }

    .add-cart,
    .input-amount::placeholder {
        font-size: 18px;
    }

    // Add To Cart
}